<div class="timeline-body">
	<div class="entries">
	  <div class="entry">
		<div class="title">(expected Autumn 2018)</div>
		<div class="body">
		  <p>MS in Structural Engineering - <a href="https://www.stanford.edu/">Stanford University</a>, Stanford CA </p>
		</div>
	  </div>
	  <div class="entry">
		<div class="title big">May 2017</div>
		<div class="body">
		  <p>Bachelor’s of Science in Civil Engineering - <a href="https://illinois.edu/">University of Illinois at Urbana-Champaign</a>, Urbana IL </p>
		</div>
	  </div>
	  <div class="entry">
		<div class="title">May 2014</div>
		<div class="body">
		  <p>High School Diploma & International Baccalaureate Diploma - <a href="http://www.yrdsb.ca/schools/bayview.ss/Pages/default.aspx">Bayview Secondary School</a>, Richmond Hill ON, Canada</p>
		</div>
	  </div>
	  <div class="entry">
		<div class="title big">2011</div>
		<div class="body">
		  <p>Dropped out of <a href="https://www.ibo.org/school/001730/">No.55 High School (IB Middle Years Program)</a>, Beijing, China</p>
		</div>
	  </div>
	  <div class="entry">
		<div class="title">2008</div>
		<div class="body">
		  <p>Dropped out of (technically graduated from) <a href="https://www.baidu.com/link?url=gZ4SYbOBc84h4FGzm2FsSfpVuwUWy6uugRnYMek3BAvkr0wmsHLEzTcr9mG3omDS&wd=&eqid=a0a94f1f0008187c000000045b8692c7">Shijingshan Foreign Language Experimental Primary School, Beijing, China</a></p>
		</div>
	  </div>
	  <div class="entry">
		<div class="title big">2003</div>
		<div class="body">
		  <p>Graduated from the <a href="http://www.creative.edu.hk/index.php">Creative Kindergarten</a>, Hong Kong, China</p>
		</div>
	  </div>
	  <div class="entry">
		<div class="title">2000</div>
		<div class="body">
		  <p>Moved to Hong Kong, China</p>
		</div>
	  </div>
	  <div class="entry">
		<div class="title big">1997</div>
		<div class="body">
		  <p>Born in Toronto ON, Canada</p>
		</div>
	  </div>
	</div>
</div>
<br><br>
<br><br>