<!DOCTYPE html>
<html>
  <head>
  	{% include head.html %}
  	{% seo %}
  	<meta name="google-site-verification" content="3A8-p4v7feORKfqiFPwTio-iAz9l_coaazDU87PkkTc" />
  </head>
  
  <body>

    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>
    
    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
    
    {% include external.html %}
    
  </body>

</html>
