---
layout: default
---
<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{page.date | date: "%Y-%m-%-d, "}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%B %-d, %Y"}}</time> &#8226;
        <span>
		  {% for tag in page.tags %}
			{% capture tag_name %}{{ tag }}{% endcapture %}
			<a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
		  {% endfor %}
		</span>

    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  
  <section class="post">
    {{ content }}
  </section>
</article>

{% include read-more.html %}
